@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Indie+Flower&display=swap');
$primary-color:  #ceecfd;
@mixin flex-center {
    display: flex;
    justify-content: center;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}
// Background
body{
    background: linear-gradient(to top, #89c9f2, #89c9f2, white, white, white);
}
// Cabeçalho
header{
    background-color: $primary-color;
    margin: 0;
    margin-bottom: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
// Frase de abertura
#textoprincipal{
    @include flex-center;
    text-align: center;
}
// Seção de itens principais
main{
    @include flex-center;
    flex-direction: row;
    flex-wrap: wrap;

    .itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $primary-color;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(48, 49, 49, 0.4);
    transition: transform ease 0.4s, box-shadow 0.4s ease;
    transform: none;

        &:hover{
        cursor: pointer;
        transform: scale(1.05);
        background-color: lighten($primary-color, 4%);
        box-shadow: 0 12px 20px rgba(11, 46, 68, 0.25);
        }

        & img {
        width: 80px;
        padding: 20px;
        }
    }
}

// galeria de fotos
.section-galeria {

    .section-text{
    @include flex-center;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    margin: 10px;
        hr {
            width: 35%;
            height: 3px;
            background-color: $primary-color;
            border:none;
            border-radius: 10px;
            align-self: center;
        }
        h2{
            text-align: center;
        }
    }
    .section-div-fotos {
        @include flex-center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    img{
        margin: 15px;
        border: 5px solid white;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(49, 48, 48, 0.4);
        width: 180px;
        height: 230px;
    }
}

// seção frase e foto
.lista-frase {
    @include flex-center;
    align-items: center;
    padding: 5%;
}
#content {
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: #8bacc0 0px 0px 10px;
    .lista {
    display: flex;
    flex-direction: row;
        h3 {
        margin-bottom: 10px;
        font-size: clamp(22px, 3vw, 25px);
        font-weight: 800;
        color: #2677aa;
        }
        li {
        margin: 10px;
        margin-left: 8%;
            p {
                font-size: clamp(15px, 1vw, 18px);
            }
        }
        @media (max-width: 570px){
            flex-direction: column;
        }
    }
    .foca-lista{
    width: 100%;
    max-width: 270px;
    height: auto;
        @media(max-width: 570px){
            
        }
    }
}
// Rodapé
footer{
    background-color: $primary-color;
    padding: 15px;
}

