@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Indie+Flower&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}
header{
    background-color: #CCEDFE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 25px;
    padding: 10px;

    img{
        width: 90px;
    }
    
}
body{
    background-image: url('../fotos/Desenhofoca.jpg');
    background-size: cover;
    background-position-y: 1%;
    background-position-x: center;
}
.container{
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 5%;
    
    .subtopicos{
        color: #07567e;
        font-size: 25px;
        padding: 10px;
        font-weight: 850;
        font-family: 'Indie Flower', cursive;

        @media(max-width: 500px){
            font-size: 15px;
        }
    }
    p{
        @media(max-width: 500px){
            font-size: 10px;
        }
    }
}

section.button{
    align-items: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .voltar {
        color: white;
        font-weight: bold;
        font-size: 18px;
        background-color:  #1075a8;
        border: 3px solid #d3e3eb;
        border-radius: 20px;
        transition: ease 0.5s;
        cursor: pointer;
        margin: 15px;
        margin-top: 5%;
        padding: 20px;
        box-shadow:0 0 5px rgba(49, 48, 48, 0.5);
        transform: none;

    &:hover{
        background-color: #07567e;
        border-color: #f1e9eb;
        box-shadow: 0 12px 20px rgba(6, 36, 54, 0.25);
        transform: scale(1.05);
        }

    @media(max-width: 500px){
            font-size: 10px;
            padding: 10px;
            display: flex;
            margin-top: 20%;
        }
    }
}

